
html {
    background-color: #ffffff !important;
    font-size: 9.5pt;
}

.light-shade {
    color: #cec8c8;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 3000px;
    text-align: center;
}

p.error-text {
    color: red;
    background-color: FCFCFC
}

.pull-right {
    float: right;
}

.submit-link {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #777;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: .5em 1em;
}

#nav_menu {
  margin-bottom: 0.1em;
}

div.create-page {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #ddd;
  border-radius: 3px;
  display:inline;
}

div.page-info {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  color: #cec8c8;
  background-color: #282727;
  border: 1px solid #302e2e;
  display:inline;
}

h4.page-info {
    margin-top: .5em;
    margin-bottom: .5em;
    display: inline-block;
    padding-right: 1em;
}

button.page-info {
    margin-top: .5em;
    float: right;
}

.back-button {
    padding-top: 6.5px;
    padding-left: 8px;
    padding-bottom: 6.5px;
    padding-right: 8px;
}

submit-link:focus {
  outline: none;
}

.boxsizingBorder {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
     color: #cec8c8;
     text-align: center;
 }

 .header h1 {
    color: #cec8c8;
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    color: #cec8c8;
    font-weight: 300;
    padding: 0;
    margin-top: 0;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

        .button-theme {
            color: rgb(200, 200, 200);
            background: rgb(95, 97, 102);
        }

.log-view-pane { resize:vertical; max-height:800px; min-height:600px; width: 85%; }
log-view-pane.horiz { resize:horizontal; min-width:300px; }

textarea.styled-text-area {
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 0 1px 3px #ddd;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	padding: 6px 8px;
	background-color: #fff;
	background-repeat: no-repeat;
	font-family: tahoma;
	font-size: 12px;
}