
html * {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Verdana, Geneva, sans-serif !important;
}

body {
    background-color: #FFFFFF;
}

label {
    font-size: 150%
}

pure-u* {
    margin: 0 auto;
    width:250px;
}

.logo-div {
    margin: 0 auto;
}

.centered_element {
margin: 0 auto;
width:250px;
}