
html * {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Verdana, Geneva, sans-serif !important;
}

div {
    text-align: center;
}

body {
    background-color: #8fcfcfc;
}

label {
    font-size: 150%
}

button, button a{position:relative;}
button a{top:0;left:0;bottom:0;right:0;}