
<div class="pure-u-24-24">
        <form action="/generate_page_from_form">
            Page title:<br>
            <input id="page_title" name="page_title" type="text"><br>
            Content:<br>
            <textarea id="content"/></textarea>
            <button class="pure-button" name="create" type="submit">Create</button>
        </form>
</div>