<div class="pure-g">
    <div class="pure-u-24-24 centered">
        <h1>Welcome $username</h1>
        <h2>Dashboard</h2>
            <a href="/profile/$username" class="pure-button">Go to profile</a>
            <a href="/dashboard/user_management" class="pure-button">User Administration</a>
            <a href="/dashboard/page_management" class="pure-button">Page Management</a>
            <a href="/dashboard/log_file" class="pure-button">Log File</a>
    </div>
<div>

