<html>
  <head>
    <title>$title</title>
    <link rel="stylesheet" href="/css/pure_css/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/pure_css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/css/pure_css/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/tvf.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="layout">
        <div id="app.main">
            <style>
                  .custom-restricted-width {
                      /* To limit the menu width to the content of the menu: */
                      display: inline-block;
                      /* Or set the width explicitly: */
                      /* width: 10em; */
                  }

                  .custom-restricted-height {
                        height: 50px;
                  }
            </style>
            <div class="pure-menu pure-menu-horizontal custom-restricted-width custom-restricted-height pure-menu-scrollable">
                <ul class="pure-menu-list">
                    $!home_link
                    $!dashboard_link
                </ul>

                <ul class="pure-menu-list pull-right">
                    $!login_or_profile_link
                    $!sign_up_menu_link
                    $!sign_out_form
                </ul>
            </div>
            #parse($template)
        </div>
    </div>
  </body>
</html>