<!DOCTYPE html>
<html>
  <head>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="$base_stylesheet">
    <link rel="stylesheet" type="text/css" href=$stylesheet/>
    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
  </head>
  <body>
    <div>
        <img src="/images/TVF.png" alt="TVF Logo" width="480" height="270">
    </div>
    <div class="container">
        #parse($template)
    </div>
  </body>
</html>