<html>
  <head>
    <title>$title</title>
    <link rel="stylesheet" href="/css/pure_css/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/pure_css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/css/pure_css/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/tvf.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="layout">
        <div id="app.main">
            <div class="centered_element">
                <h2>Thames Valley Furs</h2>
            </div>
            <div class="pure-g">
                #parse($template)
            </div>
        </div>
    </div>
  </body>
</html>