
<h1>Login Page</h1>
<form id="login" method="post" action="/login" class="pure-form">
    Username:<br>
    <input id="username" name="username" type="text" placeholder="Username"><br>
    Password:<br>
    <input id="password" name="password" type="password"/><br>
    $login_error
    <button class="pure-button" type="submit" name="Login" form="login">Login</button>
</form>
<button class="pure-button" type="button"><a href="/login/register">Sign Up</a></button>