<h1>Login Page</h1>
<form class="form-group" method="post" action="post_login">
    <label for="username">Username</label>
    <input id="username" name="username" type="text"/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
    <input type="submit" value="Login"/>
</form>