<div class="pure-g">
    <div class="pure-u-24-24 centered">
        $!reset_password_form
        $!unauthorised_reset_request_message
        $!access_expired_message
        $!password_reset_successful
        $!passwords_dont_match
    </div>
</div>