
<form method="post" action="/login/post_sign_up">
    Full Name:<br>
    <input id="full_name" name="full_name" type="text"><br>
    Username:<br>
    <input id="username" name="username" type="text"><br>
    Password:<br>
    <input id="password" name="password" type="password"/><br>
    Email address:<br>
    <input id="email" name="email" type="text"><br>
    <button type="submit">Sign up</button>
</form>