<div class="pure-g">
    <div class="pure-u-24-24 centered">
    <div id="header"><h1>Server Error</h1></div>
        <div id="content">
            <div class="content-container">
                <fieldset>
                    <h2>404 User profile not found.</h2>
                    <h3>This user does not seem to exist....</h3>
                </fieldset>
            </div>
        </div>
    </div>
</div>