#if ($username)
  Welcome $username
  <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>
#else
  <form action="/welcome" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">

    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <button type="submit">Login</button>
  </form>
#end

<a href="/">Return to home page</a>